a {
    text-decoration: none;
    color: white;
}

body {
    font-family: 'Proxima Nova', sans-serif;
    background-image: linear-gradient(purple, black);
    color: white;
}

#credits {
	position: absolute;
	right: 50px;
}

#searchResults {
	position: absolute;
	right: 50px;
}