.nav {
	margin-top:0%;
	height: 50px;
}

button {
	background-color: purple;
	color:white;
	cursor: pointer;
}

.hidden {
	display: none;
}

option {
	overflow-y: scroll;
}

body {
    font-family: 'Proxima Nova', sans-serif;
    background-image: linear-gradient(white, lightblue);
    color: black;
	height: 100vh;
}

#credits {
	position: absolute;
	right: 50px;
	top: 4%;
	cursor: pointer;
}

.song-search, .song-results {
	display: inline-block;
}

#song-results { 
	color:black;
	background-color: white;
	overflow: auto;
	height: 600px;
	width:920px;
	overflow-y: scroll;
	position: absolute;
	top: 60px;
	margin-left: 300px;
	border-style: inset;
	table-layout: fixed;
}

th, td {
	text-align: center;
	width: 400px;
}

th {
	text-align: center;
	cursor: pointer;
}

.navbutton {
	position:absolute;
	right:120px;
	top: 4%;
}

#playlistDetails{
	width: 600px;
}

#playlist {
	  margin-left: auto;
      margin-right: auto;
}

#playlistButton {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

#clearPlaylistButton {
	right:120px;
}

footer {
	margin-bottom: 0px;
	text-align: center;	
}

#infoChart {
	overflow: auto;
	height: 400px;
	width:400px;
	position: absolute;
	top: 60px;
	margin-left: 300px;
}

#snackbar {
	position: fixed;
	visibility: hidden; 
	text-align: center; 
    background-color: black; 
    color: white;
    min-width: 250px; 
    margin-left: -125px; 
    border-radius: 2px; 
    padding: 16px; 
    z-index: 1;
    left: 50%;
    top: 15px; 
 }
 
 /* Show the snackbar when clicking on a button (class added with JavaScript) */
 #snackbar.show {
   visibility: visible; /* Show the snackbar */
   /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
   However, delay the fade out process for 2.5 seconds */
   -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
   animation: fadein 0.5s, fadeout 0.5s 2.5s;
 }
 
 /* Animations to fade the snackbar in and out */
 @-webkit-keyframes fadein {
   from {top: 0; opacity: 0;}
   to {top: 15px; opacity: 1;}
 }
 
 @keyframes fadein {
   from {top: 0; opacity: 0;}
   to {top: 15px; opacity: 1;}
 }
 
 @-webkit-keyframes fadeout {
   from {top: 15px; opacity: 1;}
   to {top: 0; opacity: 0;}
 }
 
 @keyframes fadeout {
   from {top: 15px; opacity: 1;}
   to {top: 0; opacity: 0;}
 }